

.container-fluid {
  text-align: center;
  background-color: lavender;
  height: 100vh;
  width: 100%;
}

@font-face {
  font-family: elect;
  src: url(Electrolize-Regular.ttf);
}

.drum-pad {
  height: 90px;
  width: 100px;
  margin: 3%;
  padding: 20px;
  display: inline-block;
  
}

#drum-machine {
  background-color: black;
  height: 500px;
  width: 400px;
  display: inline-block;
  text-align: center;
  padding-left: 2%;
  margin-top: 5%;
  border-radius: 2%;

}

#display {
  background-color: rgb(97, 208, 228);
  font-family: elect;
  font-size: 30px;
  font-weight: 700;
  height: 40px;
  width: 300px;
  margin-left: 10%;
  margin-bottom: 10%;
  margin-top: 5%;
  
}

#foot {
  margin-top: 3%;
  font-family: elect;
  font-size: 30px;
}

.circles1 {
  border-radius: 50%;
  background-color: rgba(240, 128, 128, 0.4);
  height: 100px;
  width: 100px;
}